version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    target-branch: "master"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "npm"
    assignees:
      - "rzkytmgr"
  - package-ecosystem: "docker"
    directory: "/"
    target-branch: "master"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "docker"
    assignees:
      - "rzkytmgr"